@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
html,
body {
  font-family: 'Poppins', sans-serif; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 32px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

a,
button {
  cursor: pointer; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

html,
body {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  color: #141414; }

button {
  cursor: pointer;
  background-color: #854dff;
  color: #f0f0f0; }

button:hover,
button:active {
  background-color: #141414;
  cursor: pointer;
  transition: 0.4s; }

.container {
  max-width: 1440px;
  margin-right: 400px;
  margin-left: 400px; }

body {
  background-color: #f0f0f0; }

hr {
  border: 1px solid #dbdbdb;
  position: absolute;
  top: 100%;
  width: 100%; }

.wrapper {
  margin-top: 170px; }

.inner {
  width: 840px;
  margin: 0 auto;
  background-color: white;
  border-radius: 28px;
  border-bottom-right-radius: 210px;
  padding-bottom: 57px; }

.form {
  position: relative; }
  .form__box {
    padding: 45px 50px; }
  .form__inner {
    display: flex;
    flex-direction: row;
    padding-bottom: 45px; }
    .form__inner div {
      margin-right: 25px; }
  .form__control input:focus {
    border-color: #854dff; }
  .form__control.succes input {
    border-color: #716f6f; }
  .form__control.error input {
    border-color: #ff5757; }
  .form__control small {
    color: #ff5757;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    font-style: italic;
    visibility: hidden; }
  .form__control.error small {
    visibility: visible; }
  .form__label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 2px;
    color: #716f6f;
    padding-bottom: 5px; }
  .form__input {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 800;
    width: 170px;
    font-size: 35px; }
  .form__output {
    padding: 10px 50px; }
  .form__output-item {
    font-size: 110px;
    font-weight: 700;
    line-height: 110px;
    font-style: italic; }
    .form__output-item span {
      color: #854dff; }

.button {
  display: inline-block;
  position: absolute;
  top: 70%;
  right: 0;
  background-color: #854dff;
  width: 100px;
  height: 100px;
  border-radius: 50%; }
  .button::before {
    content: url(../img/icon-arrow.svg); }

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 50px; }
  .attribution a {
    color: #3e52a3; }
